/* created css file for todo component */

* {
  box-sizing: border-box;
}

.todo {
  border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

ul {
  list-style-type: none;
  border: 2px solid yellow;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo span {
  flex: 1;
  justify-content: flex-start;
  display: flex;
}
