/* created css file for todo component */

html {
  box-sizing: border-box;
}

.todo {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #575b8b;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 2px;
}
.todoForm {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  /* border: 2px solid yellow; */
  padding: 20px;
  margin: 0;
  width: 100%;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo span {
  flex: 1;
  justify-content: flex-start;
  display: flex;
}
